In [136]:
import pandas as pd
import datetime

In [82]:
#X = input(print("Whats the name of the file that you want to convert? (include the .csv at the end) "))

Whats the name of the file that you want to convert? (include the .csv at the end)
NoneHotel Reservations.csv

In [84]:
Y = input(print("Whats the name of the relevant column? (watch out for lower- and upper-case) "))

Whats the name of the relevant column? (watch out for lower- and upper-case)
Nonetype_of_meal_plan

In [110]:
Y

'type_of_meal_plan'

In [3]:
df = pd.read_csv("Hotel Reservations.csv")

In [86]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [107]:
df.columns = [col.lower() for col in df.columns]

In [104]:
df.columns = str.lower()
df.columns

AttributeError: 'Index' object has no attribute 'lowercase'

In [108]:
options = df[Y].unique()
options

array(['Meal Plan 1', 'Not Selected', 'Meal Plan 2', 'Meal Plan 3'],
      dtype=object)

In [89]:
options[0]

'Meal Plan 1'

In [70]:
len(options)

4

In [121]:
df_name = "hi"

In [138]:
start = 0
list_names = []
for i in options:
    name = f"Convert{start}_{datetime.datetime.now().strftime('%Y-%m-%d_%H-%M-%S')}"
    temp = df[df[Y] == options[start]]
    #exec(f"{name} = df[df[Y] == options[start]]")
    temp.to_excel(f"{name}.xlsx", index=False)
    print(f"{name}.xlsx")
    print(options[start])
    start = start + 1

Convert0_2023-02-10_00-42-28.xlsx
Meal Plan 1
Convert1_2023-02-10_00-42-35.xlsx
Not Selected
Convert2_2023-02-10_00-42-36.xlsx
Meal Plan 2
Convert3_2023-02-10_00-42-37.xlsx
Meal Plan 3

In [ ]:
df.to_excel("dataframe.xlsx", index=False)

In [76]:
meal_plan_1 = df[df["type_of_meal_plan"] == "Meal Plan 1"]

In [77]:
meal_plan_1

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
6,INN00007,2,0,1,3,Meal Plan 1,0,Room_Type 1,34,2017,10,15,Online,0,0,0,107.55,1,Not_Canceled
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,12,26,Online,0,0,0,105.61,1,Not_Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36269,INN36270,2,2,0,1,Meal Plan 1,0,Room_Type 6,0,2018,10,6,Online,0,0,0,216.00,0,Canceled
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled